{include file="public/header" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>创建秒杀活动</h3>
            </div>
        </div>
    </div>
    <form action="/admin/seckill.jobs/store" method="POST">
        <div class="ncap-form-default">
            <dl>
                <dt>活动名</dt>
                <dd>
                    <input type="text" name='name' value="" class="input-txt" required>
                </dd>
            </dl>
            <dl>
                <dt>开始时间</dt>
                <dd>
                    <input type="text" name='start' value="<?php echo date('Y-m-d H:00:00', strtotime('next hour')); ?>" class="input-txt" id='start' required>
                </dd>
            </dl>
            <dl>
                <dt>结束时间</dt>
                <dd>
                    <input type="text" name='end' value="" class="input-txt" id='end' required>
                    <button class="btn btn-blue" onclick='setEnd(event)'>20分钟</button>
                </dd>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <button type="submit" class="btn btn-primary">下一步</button>
                </dd>
            </dl>
        </div>
    </form>
</div>
{include file='public/datetimepick_js'/}
<script>
$('#start').datetimepicker(option);
$('#end').datetimepicker(option);

function setEnd(e) {
    e.preventDefault()
    let end = Date.parse($('#start').val()) + 20 * 60 * 1000
    $('#end').datetimepicker('setDate', new Date(end))
    return false
}
</script>