<table class="ds-default-table" id=jobs-table>
    <thead>
        <tr class="thead">
            <th class="align-center">ID</th>
            <th class="align-center">活动名称</th>
            <th class="align-center">{$Think.lang.start_time}</th>
            <th class="align-center">{$Think.lang.end_time}</th>
            <!-- <th class="align-center" width="80">商品数量</th> -->
            <th class="align-center">状态</th>
            <th class="align-center">操作</th>
        </tr>
    </thead>
    <tbody id="treet1">
        {notempty name="jobs"}
        {foreach name="jobs" item="job"}
        <tr class="hover" data-id='{$job.id}'>
            <td>
                {$job.id}
            </td>
            <td class="group">
                {$job.name}
            </td>
            <td class="align-center nowarp">{$job.start}</td>
            <td class="align-center nowarp">{$job.end}</td>
            <!--             <td class="align-center">
                <?php 
                   echo array_sum(array_map(function($goods) {
                        return $goods->qty;
                }, $job['goods']));
                ?>
            </td> -->
            <td class="align-center">
                <?php
                echo [
                0 => '等待开始',
                1 => '秒杀中',
                2 => '结束',
                3 => '停止'
                ][$job->status];
                ?>
            </td>
            <td class="align-center">
                <a href="#" class="dsui-btn-view"><i class="fa"></i>查看</a>
                {switch $job.status}
                    {case 0}
                <a href="#" class="dsui-btn-edit"><i class="fa"></i>编辑</a>
                    {/case}

                    {case value="0|2|3"}
                <a href="#" class="dsui-btn-del"><i class="fa"></i>删除</a>
                    {/case}

                    {case 1}
                <a href="#" class="dsui-btn-stop"><i class="fa"></i>停止</a>

                    {/case}
                    {/switch}
            </td>
        </tr>
        {/foreach}
        {else /}
        <tr class="no_data">
            <td colspan="16">{$Think.lang.ds_no_record}</td>
        </tr>
        {/notempty}
    </tbody>
</table>
{notempty name="jobs"}
{$jobs->render()}
{/notempty}

<script>

$('#jobs-table tr .dsui-btn-view').on('click', function(e) {
    window.location = '/admin/seckill.jobs/show?id=' + $(e.target).parents('tr').data('id')
});

$('#jobs-table tr .dsui-btn-edit').on('click', function(e) {
    window.location = '/admin/seckill.jobs/edit?id=' + $(e.target).parents('tr').data('id')
});

$('#jobs-table tr .dsui-btn-del').on('click', function(e) {
    if (confirm('确定删除？')) {
        let tr = $(e.target).parents('tr')
        $.post('/admin/seckill.jobs/delete?id=' + tr.data('id'), function (res) {
            if (res === 'ok') {
                layer.msg('删除成功', {shade: 0.3})
                tr.hide('slow')
            }
        })
    }
});

$('#jobs-table tr .dsui-btn-stop').on('click', function(e) {
    if (confirm('确定停止？')) {
        window.location = '/admin/seckill.jobs/stop?id=' + $(e.target).parents('tr').data('id')
    }
});
</script>