{include file="public/header" /}

<div class="page">

    <form id="user_form" enctype="multipart/form-data" method="post" >
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th class="w100">商品名称</th>
                <th class="w100">商品价格（元）</th>
                <th class="w60">商品库存</th>
                <th class="w100">商品所需积分</th>
            </tr>
            <tbody>
                {notempty name="goods_list"}
                {foreach name="goods_list" item="v"}
                <tr class="hover edit">
                    <input name="goods_id[]" value="{$v.goods_id}" type="hidden" class="text w100" />
                    <td>
                        {$v.goods_name}
                    </td>
                    <td>
                        <input name="goods_price[]" value="{$v.goods_price}" type="text" class="text w100" />
                    </td>
                    <td>
                        <input name="goods_storage[]" value="{$v.goods_storage}" type="text" class="text w100" />
                    </td>
                    <td>
                        <input name="goods_point[]" value="{$v.goods_point|default=0}" type="text" class="text w100" />
                    </td>
                </tr>
                {/foreach}
                {/notempty}
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><input  id='sub' class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        //按钮先执行验证再提交表单
        $("#sub").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
        $('#user_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules: {
                goods_price: {
                    required: true,
                },
                goods_point: {
                    required: true,
                },
                goods_storage: {
                    required: true,
                },
                goods_state: {
                    required: true,
                },
            },
            messages: {
                goods_price: {
                    required: '商品价格不能为空',
                },
                goods_point: {
                    required: '密码不能为空',
                },
                goods_storage: {
                    required: '商品库存不能为空',
                },
                goods_state: {
                    digits: '请选择商品状态',
                }
            }
        });
    });
</script>
