{include file="public/header" /}
{include file="public/b4" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>添加秒米商品</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
  <div class="fixed-empty"></div>
  <div class="row">
    <div class="col">
      <div class="list-group" id='gc-1'>
        {volist name="categories" id="category"}
        <a href="#" class="list-group-item list-group-item-action" data-id='{$category.gc_id}'>{$category.gc_name}</a>
        {/volist}
      </div>
    </div>
    <div class="col">
      <div class="list-group" id='gc-2'>
        
      </div>
      </div>
    <div class="col">
      <div class="list-group" id='gc-3'>
        
      </div>
    </div>
  </div>
      
</div>
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/js/dialog/dialog.js" id="dialog_js" charset="utf-8"></script>
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/mlselection.js" charset="utf-8"></script>

<script type="text/javascript">
$('#gc-1 a').click(function(e) {
  e.preventDefault()
  showGc2($(this).data('id'))
  return false
})

function showGc2(pid) {
  $.get('/api/goods/categories', function(res) {
    console.log(typeof(res))
  })
}
    
</script>

{include file="public/footer" /}