<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/dstouch_common.css">
<link rel="stylesheet" type="text/css" href="../css/dstouch_cart.css">
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back iconfont"></i> </a> </div>
    <div class="header-title">
      <h1><lang data-id="confirmation_order"></lang></h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more iconfont"></i><sup></sup></a> </div>
  </div>
  <div class="dstouch-nav-layout">
    <div class="dstouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../index.html"><i class="iconfont home"></i><lang data-id="home"></lang></a></li>
        <li><a href="../mall/search.html"><i class="iconfont search"></i><lang data-id="search"></lang></a></li>
        <li><a href="../mall/product_first_categroy.html"><i class="iconfont categroy"></i><lang data-id="classification"></lang></a></li>
        <li><a href="../mall/cart_list.html"><i class="iconfont cart"></i><lang data-id="cart"></lang><sup></sup></a></li>
        <li><a href="../member/member.html"><i class="iconfont member"></i><lang data-id="my_business_city"></lang></a></li>
      </ul>
    </div>
  </div>
</header>
<div id="container-fcode" class="hide">
  <div class="fcode-bg">
    <div class="con">
      <h3><lang data-id="purchase_hints_one"></lang>“F码”<lang data-id="commodity"></lang></h3>
      <h5><lang data-id="input_prompt_one"></lang><br/>
        <lang data-id="input_prompt_two"></lang></h5>
      <input type="text" name="fcode" id="fcode" placeholder="" />
      <p class="fcode_error_tip" style="display:none;color:red;"></p>
      <a href="javascript:void(0);" class="submit"><lang data-id="submission_verification"></lang></a> </div>
  </div>
</div>
<div class="dstouch-main-layout mb20">
    <div class="dstouch-cart-block">
    <!--正在使用的默认地址Begin-->
    <div class="dstouch-cart-add-default"><a href="javascript:void(0);" id="list-address-valve"><i class="icon-add iconfont"></i>
      <dl>
        <dt><lang data-id="consignee"></lang>：<span id="true_name"></span><span id="mob_phone"></span></dt>
        <dd><span id="address"></span></dd>
      </dl>
      <i class="icon-arrow iconfont"></i></a></div>
    <!--正在使用的默认地址End-->
  </div>
  <!--选择收货地址Begin-->
  <div id="list-address-wrapper" class="dstouch-full-mask hide">
    <div class="dstouch-full-mask-bg"></div>
    <div class="dstouch-full-mask-block">
      <div class="header">
        <div class="header-wrap">
          <div class="header-l"> <a href="javascript:void(0);"> <i class="back iconfont"></i> </a> </div>
          <div class="header-title">
            <h1><lang data-id="receiving_address_management"></lang></h1>
          </div>
        </div>
      </div>
      <div class="dstouch-main-layout" id="list-address-scroll">
        <ul class="dstouch-cart-add-list" id="list-address-add-list-ul">
        </ul>
        <div id="addresslist" class="mt10"> <a href="javascript:void(0);" class="btn-l" id="new-address-valve"><lang data-id="new_receipt_address"></lang></a> </div>
      </div>
    </div>
  </div>
  <!--选择收货地址End-->
  <!--新增收货地址Begin-->
  <div id="new-address-wrapper" class="dstouch-full-mask hide">
    <div class="dstouch-full-mask-bg"></div>
    <div class="dstouch-full-mask-block">
      <div class="header">
        <div class="header-wrap">
          <div class="header-l"> <a href="javascript:void(0);"> <i class="back iconfont"></i> </a> </div>
          <div class="header-title">
            <h1><lang data-id="new_receipt_address"></lang></h1>
          </div>
        </div>
      </div>
      <div class="dstouch-main-layout" id="new-address-scroll">
        <div class="dstouch-inp-con">
          <form id="add_address_form">
            <ul class="form-box">
              <li class="form-item">
                <h4><lang data-id="consignee_name"></lang></h4>
                <div class="input-box">
                  <input type="text" class="inp" name="true_name" id="vtrue_name" autocomplete="off" oninput="writeClear($(this));"/>
                  <span class="input-del"></span> </div>
              </li>
              <li class="form-item">
                <h4><lang data-id="contact_phone"></lang></h4>
                <div class="input-box">
                  <input type="tel" class="inp" name="mob_phone" id="vmob_phone" autocomplete="off" oninput="writeClear($(this));"/>
                  <span class="input-del"></span> </div>
              </li>
              <li class="form-item">
                <h4><lang data-id="regional_selection"></lang></h4>
                <div class="input-box">
                  <input name="area_info" type="text" class="inp" id="varea_info" autocomplete="off" onChange="btn_check($('form'));" readonly/>
                </div>
              </li>
              <li class="form-item">
                <h4><lang data-id="detailed_address"></lang></h4>
                <div class="input-box">
                  <input type="text" class="inp" name="vaddress" id="vaddress" autocomplete="off" oninput="writeClear($(this));" onkeyup="local.search($(this).val());"/>
                  <div id="mymap"></div>
                  <input type="hidden" name="longitude" id="longitude">
                  <input type="hidden" name="latitude" id="latitude">
                  <span class="public-pos"></span>
                  <span class="input-del"></span> </div>
              </li>
            </ul>
            <div class="form-btn"><a href="javascript:void(0);" class="btn"><lang data-id="save_address"></lang></a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--新增收货地址End-->

  <!--付款方式Begin-->
  <div class="dstouch-cart-block mt5"> <a href="javascript:void(0);" class="posr" id="select-payment-valve">
    <h3><i class="pay iconfont"></i><lang data-id="payment_methods"></lang> ：</h3>
    <div class="current-con"><lang data-id="online_payment"></lang></div>
    <i class="icon-arrow iconfont"></i> </a> </div>
  <!--付款方式End-->

  <!--选择付款方式Begin-->
  <div id="select-payment-wrapper" class="dstouch-full-mask hide">
    <div class="dstouch-full-mask-bg"></div>
    <div class="dstouch-full-mask-block">
      <div class="header">
        <div class="header-wrap">
          <div class="header-l"> <a href="javascript:void(0);"> <i class="back iconfont"></i> </a> </div>
          <div class="header-title">
            <h1><lang data-id="choose_payment_method"></lang></h1>
          </div>
        </div>
      </div>
      <div class="dstouch-main-layout">
        <div class="dstouch-sel-box">
          <h4 class="tit"><lang data-id="payment_methods"></lang></h4>
          <div class="sel-con">
            <a href="javascript:void(0);" class="sel" id="payment-online"><lang data-id="online_payment"></lang></a>
            <!--<a href="javascript:void(0);" id="payment-offline"><lang data-id="cash_on_delivery"></lang></a>-->
          </div>
          <style>
            /*<!-- 选择线下支付CSS-->*/
            .pay_offline_info{width: 100%;overflow: hidden;padding-bottom: 1rem;display: none;}
            .pay_offline_info .tit{display: block;padding: 0.5rem 0;font-size: 0.7rem;line-height: 0.9rem;}
            .pay_offline_info .tit2{font-size: 0.5rem;line-height: 0.5rem;color: #f23030;padding: 0;padding-bottom: 0.5rem;}
            .pay_offline_info .pay_off_infos{width: 2.7rem;height: 2.7rem;padding: 0.2rem;display: block;border: solid 0.05rem #EEE;border-radius: 0.2rem;overflow: hidden;position: relative;}
            .pay_offline_info .pay_off_infos .file_pay_offline{width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;font-size: 3rem;opacity: 0;}
            .pay_offline_info .off_info_img{width: 100%;height: 100%;border-radius: 0.2rem;}
            .pay_offline_info .pay_off_btn{display: inline-block;height: 0.9rem;margin: 0.3rem 0.3rem 0 0;font-size: 0.55rem;line-height: 0.9rem;border-radius: 0.15rem;padding: 0.28rem 2rem;color: #FFF;background: #f23030;border: none;}
            .xxPay_pic{border: solid 0.05rem #EEE;border-radius: 0.1rem;vertical-align: top;width: 3rem;height: 3rem;margin-bottom: 0.5rem;}
            .xxPay_pic img{width: 100%;height: 100%;}
            /*<!-- 放大付款二维码css-->*/
            .showBigPay{width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index: 999;background: rgba(0, 0, 0, 0.7);display: none;}
            .showBigPay .shop_payPic{width: 96%;margin: 0px auto;padding: 2rem 0px;position: relative;}
            .showBigPay .shop_payPic .show_close{width: 1.6rem;height: 1.6rem;display: block;line-height: 1.6rem;text-align: center;position: absolute;top: 2.2rem;right: 0.2rem;background: #828282;overflow: hidden;font-size: 1.6rem;color: #fff;border-radius: 12%;}
            .showBigPay .shop_payPic img{max-width: 100%;max-height: 100%;}
            /*修复BUG*/
            .dstouch-cart-item li .goods-subtotal .goods-price2{color: #333;}
            .dstouch-cart-item li .goods-subtotal .goods-price2 i{padding: 1px 5px;color: #f3dba6;background: #333;position: relative;top: -3px;margin-left: 5px;font-size: 12px;transform: scale(0.8,0.8);}
          </style>
          <div class="pay_offline_info">
            <span class="tit">上传支付凭证</span>
            <span class="tit tit2">线下支付优惠<em></em></span>
            <div class="xxPay_pic"><img src="../images/xxpay_alipay.jpg" /></div>
            <div class="dstouch-upload" style="display: block;width: 3rem;height: 3rem;">
              <a href="javascript:void(0);">
                <span>
                  <input type="file" hidefocus="true" size="1" class="input-file" name="refund_pic" />
                </span>
                <p><i class="icon-upload"></i></p>
              </a>
              <input type="hidden" name="refund_pic[0]" value="" />
            </div>
            <a class="pay_off_btn">确定</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--选择付款方式End-->

  <!-- 放大支付宝付款二维码Begin-->
  <div class="showBigPay">
    <div class="shop_payPic">
      <span class="show_close">×</span>
      <img src="../images/xxpay_alipay.jpg"/>
    </div>
  </div>
  <!--放大支付宝付款二维码End-->

  <!--商品列表Begin-->
  <div id="goodslist_before" class="mt5">
    <div id="deposit"> </div>
  </div>
  <!--商品列表End-->


  <!--底部总金额固定层Begin-->
  <div class="dstouch-cart-bottom">
    <div class="total"><span id="online-total-wrapper"></span>
      <dl class="total-money">
        <dt><lang data-id="total_sum"></lang>：</dt>
        <dd>￥<em id="totalPrice"></em></dd>
      </dl>
    </div>
    <div class="check-out"><a href="javascript:void(0);" id="ToBuyStep2"><lang data-id="place_order"></lang></a></div>
  </div>
  <!--底部总金额固定层End-->
  <div class="dstouch-bottom-mask">
    <div class="dstouch-bottom-mask-bg"></div>
    <div class="dstouch-bottom-mask-block">
      <div class="dstouch-bottom-mask-tip"><i class="iconfont"></i><lang data-id="click_here_to_return"></lang></div>
      <div class="dstouch-bottom-mask-top">
        <p class="dstouch-cart-num"><lang data-id="online_payment_needed"></lang><em id="onlineTotal">0.00</em><lang data-id="element"></lang></p>
        <p style="display:none" id="isPayed"></p>
        <a href="javascript:void(0);" class="dstouch-bottom-mask-close"><i></i></a> </div>
      <div class="dstouch-inp-con dstouch-inp-cart">

        <ul class="form-box" id="internalPay">
          <p class="rpt_error_tip" style="display:none;color:red;"></p>
          <li class="form-item" id="wrapperUseRCBpay">
            <div class="input-box pl5">
              <label>
                <input type="checkbox" class="checkbox" id="useRCBpay" autocomplete="off" />
                <lang data-id="recharge_card_payment"></lang> <span class="power"><i></i></span> </label>
              <p><lang data-id="available_recharge_card_balances"></lang> ￥<em id="availableRcBalance"></em></p>
            </div>
          </li>
          <li class="form-item" id="wrapperUsePDpy">
            <div class="input-box pl5">
              <label>
                <input type="checkbox" class="checkbox" name="usepdpy" id="usePDpy" autocomplete="off" />
                <lang data-id="pre_deposit_payments"></lang> <span class="power"><i></i></span> </label>
              <p><lang data-id="available_deposit_balance"></lang> ￥<em id="availablePredeposit"></em></p>
            </div>
          </li>
          <li class="form-item" id="wrapperPaymentPassword" style="display:none">
            <div class="input-box"> <span class="txt"><lang data-id="input_payment_password"></lang></span>
              <input type="password" class="inp" id="paymentPassword"  />
              <span class="input-del"></span>
            </div>
            <a href="../member/member_paypwd_step1.html" class="input-box-help" style="display:none"><i>i</i><lang data-id="not_set"></lang></a> </li>
        </ul>

        <div class="dstouch-pay">
          <div class="spacing-div"><span><lang data-id="online_payment_method"></lang></span></div>
          <div class="pay-sel" id="pay-sel">
            <script type="text/html" id="pay-sel-tmpl">
              <%if(payment_list.length > 0) {%>
              <%for(var p = 0;p < payment_list.length;p++){%>
              <label style="display:none">
                <input type="radio" name="payment_code" class="checkbox" id="<%=payment_list[p]%>" autocomplete="off" />
                <span class="<%=payment_list[p]%>"><%=payment_list[p]%></span></label>
              <%}}%>
            </script>
          </div>
        </div>
        <div class="pay-btn"> <a href="javascript:void(0);" id="toPay" class="btn-l"><lang data-id="confirmation_payment"></lang></a> </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="goods_list">
  <div class="dstouch-cart-container">
    <dl class="dstouch-cart-store">
      <% if(cart_list.mansong_rule_list != null && cart_list.mansong_rule_list.desc != null){ %>
      <dd class="store-activity">
        <em><%=lang('full_delivery')%></em>
        <span>&nbsp;满<%=cart_list.mansong_rule_list.mansongrule_price%>送<%=cart_list.mansong_rule_list.mansongrule_discount%><%if (cart_list.mansong_rule_list.goods_image) {%>，送<img src="<%=cart_list.mansong_rule_list.goods_image_url%>"><%}%></span>
      </dd>
      <% } %>
    </dl>
    <ul class="dstouch-cart-item">
      <% for (var l in cart_list.goods_list) { var v1 = cart_list.goods_list[l]%>
      <li class="buy-item">
        <div class="goods-pic">
          <a href="<%=WapSiteUrl%>/mall/product_detail.html?goods_id=<%=v1.goods_id%>&v1.goods_type=<%=v1.goods_type%>">
            <img src="<%=v1.goods_image_url%>"/>
          </a>
        </div>
        <dl class="goods-info">
          <dt class="goods-name"><a href="<%=WapSiteUrl%>/mall/product_detail.html?goods_id=<%=v1.goods_id%>&v1.goods_type=<%=v1.goods_type%>"><%=v1.goods_name%></a></dt>
          <dd class="goods-type"><%=v1.goods_spec%></dd>
        </dl>
        <div class="goods-subtotal">
        	<% if (v1.gift_list) { %>
	        <span class="goods-price">￥<em><%=v1.goods_price%></em></span>
          <%}else{%>
          	<% if (v1.goods_type ==20) { %>
	          <span class="goods-price">￥<em><%=v1.goods_price%></em>+<em><%=v1.goods_point%>积分</em></span>
	          <%}else{%>
          	<span class="goods-price">￥<em><%=v1.goods_price%></em></span>
           <%}%>
          <%}%>
        </div>
        <div class="goods-num">
          <em><%=v1.goods_num%></em><%=lang('piece')%>
        </div>
        <% if (v1.gift_list) { %>
        <%for(var m in v1.gift_list){ var v2 = v1.gift_list[m];%>
        <div class="goods-gift">
          <span><em><%=lang('gift')%></em><%=v2.gift_goodsname%></span>
        </div>
        <%}%>
        <%}%>
        <div class="notransport transportId<%=v1.transport_id%>" style="display:none;"><p><%=lang('shop_tips_two')%></p></div>
      </li>
      <% } %>
    </ul>

    <div class="dstouch-cart-subtotal">
      <% if (cart_list.voucher_info && !isEmpty(cart_list.voucher_info)) { %>
      <dl>
        <dt><%=lang('shop_voucher')%></dt>
        <dd><%=lang('save')%><em id="Voucher<%=k%>"><%=cart_list.voucher_info.voucher_price%></em><%=lang('element')%></dd>
      </dl>
      <% } %>
      <dl>
        <dt><%=lang('logistics_distribution')%></dt>
        <dd><%=lang('freight')%><em id="Freight<%=k%>"><%=address_api.content%></em><%=lang('element')%></dd>
      </dl>
      <div class="message">
        <input type="text" placeholder="订单留言：" id="Message<%=k%>">
      </div>
    </div>
</script>
<script type="text/html" id="list-address-add-list-script">
  <% for (var i=0; i<address_list.length; i++) { %>
  <li <% if (address_id == address_list[i].address_id) { %>class="selected"<% } %> data-param="{address_id:'<%=address_list[i].address_id%>',true_name:'<%=address_list[i].address_realname%>',mob_phone:'<%=address_list[i].address_mob_phone%>',area_info:'<%=address_list[i].area_info%>',address:'<%=address_list[i].address_detail%>',area_id:'<%=address_list[i].area_id%>',city_id:'<%=address_list[i].city_id%>'}"> <i></i>
  <dl>
    <dt><%=lang('consignee')%>：<span id=""><%=address_list[i].address_realname%></span><span id=""><%=address_list[i].address_mob_phone%></span><% if (address_list[i].address_is_default == 1) { %><sub><%=lang('default')%></sub><% } %></dt>
    <dd><span id=""><%=address_list[i].area_info %>&nbsp;<%=address_list[i].address_detail %></span></dd>
  </dl>
  </li>
  <% } %>
</script>
<script type="text/html" id="invoice-list-script">
  <% if (invoice_list.length > 0) {%>
  <% for (var i=0; i<invoice_list.length; i++) { %>
  <label><i></i>
    <input type="radio" name="invoice" <% if (i==0) {%>checked="checked"<% } %> value="<%=invoice_list[i].invoice_id%>"/>
    <span id="inv_<%=invoice_list[i].invoice_id%>"><%=invoice_list[i].invoice_title%>&nbsp;&nbsp;<%=invoice_list[i].invoice_code%>&nbsp;&nbsp;<%=invoice_list[i].invoice_content%></span>
    <a class="del-invoice" href="javascript:void(0);" invoice_id="<%=invoice_list[i].invoice_id%>"></a>
  </label>
  <% } %>
  <% } %>
  <label id="invoiceNew"><i></i>
    <input type="radio" name="invoice" <% if (invoice_list.length == 0) { %>checked="checked"<% } %> value="0"/><span><%=lang('add_invoice_contents')%></span>
  </label>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="../js/order_payment_common.js"></script>
<script type="text/javascript" src="js/buy_step1.js"></script>
<script type="text/javascript" src="lang/buy_step1.js"></script>
<script type="text/javascript" src="../js/lang.js"></script>
</body>
</html>
