{include file="public/header" /}
{include file="public/b4" /}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            创建秒米商品
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>一级分类</label>
                        <select class="form-control" id='gc-1'>
                            <option value="0">--请选择--</option>
                            {foreach $categories as $category}
                            <option value="{$category.gc_id}">{$category.gc_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>二级分类</label>
                        <select class="form-control" id='gc-2'>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>三级分类</label>
                        <select class="form-control" id='gc-3'>
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary mt-4" onclick='searchByGc()'>搜索</button>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label>选择商品</label>
                    <table class="table table-hover" id='goods-table'>
                        <thead>
                            <tr>
                                <th scope="col">货号</th>
                                <th></th>
                                <th scope="col">商品名称</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#gc-1').change(function() {
        $('#gc-2').empty()
        $('#gc-3').empty()
        let gc1 = $('#gc-1').val()
        if (0 != gc1) {
            showGc('#gc-2', gc1)
        }
    })

    $('#gc-2').change(function() {
        $('#gc-3').empty()
        let gc2 = $('#gc-2').val()
        showGc('#gc-3', gc2)
    })


});

function showGc(select, pid) {
    $.get(`/api/goods/categories?pid=${pid}`, function(res) {
        $(select).empty()
        for (let category of res) {
            $(select).append(`
                    <option value="${category.gc_id}">${category.gc_name}</option>
                `)
        }

    })
}

function searchByGc() {
    let cid = $('#gc-3').val() || $('#gc-2').val() || $('#gc-1').val()
    if (0 != cid) {
        $.get(`/api/goods?cid=${cid}`, function(res) {
            console.log(res)
            resetTable(res)

        })
    }
}

function resetTable(data) {
    $('#goods-table tbody').empty()
    for (let item of data) {
        $('#goods-table').append(`
                <tr>
                    <th>${item.goods_id}</th>
                    <td class="w60 picture">
                        <div class="size-56x56"><span class="thumb size-56x56"><i></i><img src="${item.thumb}" onload="javascript:ResizeImage(this,56,56);" /></span></div>
                    </td>
                    <td>${item.goods_name}</td>
                    <td><button class='btn btn-primary'>加入</button></td>
                </tr>
            `)
    }
}
</script>