{include file="public/header" /}
{include file="public/b4" /}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            创建秒杀活动
        </div>
        <div class="card-body">
            <form action="/admin/seckilljobs/store" method="POST">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">活动名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name='name' value="test">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">开始时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id='start' name='start' value="2019-10-1">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">结束时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id='end' name='end' value="2019-10-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file='public/datetimepick_js'/}
<script>
$('#start').datetimepicker(option);
$('#end').datetimepicker(option);
</script>