{include file="public/header" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>秒杀列表</h3>
            </div>
            <a class="btn btn-blue" href="/index.php/admin/seckilljobs/form.html?">新增活动</a>
        </div>
    </div>
    {include file='seckill/jobs_table' /}
    {include file='seckill/job_modal' /}
</div>
<script>
$('#jobs-table tr').on('click', function() {
    layer.open({
        type: 1,
        title: $(this).find('.group').html(),
        area: ['600px', '360px'],
        shadeClose: true, //点击遮罩关闭
        content: $('#jobModal')
    });
    initJob($(this).data('id'))
});
</script>