<table class="ds-default-table" id=jobs-table>
    <thead>
        <tr class="thead">
            <th class="align-center">ID</th>
            <th class="align-center">活动名称</th>
            <th class="align-center">{$Think.lang.start_time}</th>
            <th class="align-center">{$Think.lang.end_time}</th>
            <!-- <th class="align-center" width="80">商品数量</th> -->
            <th class="align-center">状态</th>
            <th class="align-center">操作</th>
        </tr>
    </thead>
    <tbody id="treet1">
        {notempty name="jobs"}
        {foreach name="jobs" item="job"}
        <tr class="hover" data-id='{$job.id}'>
            <td>
                {$job.id}
            </td>
            <td class="group">
                {$job.name}
            </td>
            <td class="align-center nowarp">{$job.start}</td>
            <td class="align-center nowarp">{$job.end}</td>
            <!--             <td class="align-center">
                <?php 
                   echo array_sum(array_map(function($goods) {
                        return $goods->qty;
                }, $job['goods']));
                ?>
            </td> -->
            <td class="align-center">
                <?php
                echo [
                0 => '等待开始',
                1 => '秒杀中',
                2 => '结束',
                3 => '停止'
                ][$job->status];
                ?>
            </td>
            <td class="yes-onoff align-center">
                <button class="btn btn-primary">查看</button>
                {switch $job.status}
                    {case 0}
                    <button class="btn btn-red">删除</button>
                    {/case}
                    {case 1}
                    <button class="btn btn-black">停止</button>
                    {/case}
                {/switch}
            </td>
        </tr>
        {/foreach}
        {else /}
        <tr class="no_data">
            <td colspan="16">{$Think.lang.ds_no_record}</td>
        </tr>
        {/notempty}
    </tbody>
</table>
{notempty name="jobs"}
{/notempty}

<script>
$('#jobs-table tr .btn-primary').on('click', function() {
    layer.open({
        type: 1,
        title: $(this).find('.group').html(),
        area: ['600px', '360px'],
        shadeClose: true, //点击遮罩关闭
        content: $('#jobModal')
    });
    initJob($(this).data('id'))
});

$('#jobs-table tr .btn-red').on('click', function(e) {
    window.location = '/admin/seckilljobs/delete?id=' + $(e.target).parents('tr').data('id')
});

$('#jobs-table tr .btn-black').on('click', function(e) {
    window.location = '/admin/seckilljobs/stop?id=' + $(e.target).parents('tr').data('id')
});
</script>