<form action="/admin/seckilljobs/goods" method="post">
    <input type="hidden" name='job_id' value="{:session('job_id')}">
    <div class="ds-search-form">
        <dl>
            <dt>平台货号</dt>
            <dd>
                <input type="text" class="txt" id="id-input" name='goods_commonid'>
            </dd>
        </dl>
        <dl>
            <dt>商品名</dt>
            <dd>
                <input type="text" class="txt" id="name-input" name='goods_name'>
            </dd>
        </dl>
        <div class="btn_group">
            <button type="submit" class="btn btn-primary">搜索</button>
        </div>
    </div>
</form>