<div class="page" id='modal-page' style="display: none;">
    <form method="post" id="modal-form">
        <input type="hidden" value="" name='goods_id' id='goods-id-input'>
        <input type="hidden" value="{:session('job_id')}" name='job_id'>
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>数量：</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='number-input' name='qty' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>价格(元):</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='price-input' name='price' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>秒米(M):</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='mi-input' name='mi' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>排序:</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='commend-input' name='commend' value="0" min:0>
                        <p>
                            <small class="form-text text-muted">0-200，数字越大越靠前</small>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><input class="btn" type="submit" onclick='submitGoodForm(event)' value="提交"></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script>
// function showModal(obj) {
//     $('.modal').modal('show')
//     $('.modal-title').html(obj.name)
//     $('#goods-id-input').val(obj.id)
//     setInputVal(obj.id)
// }

function setInputVal(gid) {
    $('#goods-id-input').val(gid)
    $.get(`/mobile/api.seckillgoods?goods_id=${gid}`, function(res) {
        if (res != '') {
            $('#number-input').val(res.qty)
            $('#price-input').val(res.price)
            $('#mi-input').val(res.mi)
            $('#commend-input').val(res.commend)
        }
    })
}

// $('.modal').on('hide.bs.modal', function(e) {
//     unActiveTr($('#goods-id-input').val())
// })
function submitGoodForm(e) {
    e.preventDefault()
    $.post('/admin/seckillgoods/store', $('#modal-form').serialize(), function(res) {
        if (res > 0) {
            // $('.modal').modal('hide')
            window.location.reload()
        }
    })
    return false
}
</script>