{include file="public/header" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{:session('job_name')} 添加商品</h3>
            </div>
            <a class="btn btn-primary" href="/index.php/admin/seckill.jobs">返回</a>
        </div>
    </div>
    {include file='seckill/good/selected'/}
    {include file='seckill/good/search'/}
    {include file='seckill/good/table'/}
</div>
{include file='seckill/good/form'/}