<div class="page" id='modal-page' style="display: none;">
    <form method="post" id="modal-form">
        <input type="hidden" value="" name='goods_id' id='goods-id-input'>
        <input type="hidden" value="{:session('job_id')}" name='job_id'>
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>数量：</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='number-input' name='qty' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>代售价格(元):</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='goods-price-input' name='goods_price' value="" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>秒杀价格(元):</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='price-input' name='price' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>限额</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='limit-input' name='limit' value="1" min:1>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>收益率(%):</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='mi-input' name='return_rate' value="0" min:0>
                    </td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255);">
                    <td class="required w120" aria-required="true"><label>排序:</label></td>
                    <td class="vatop rowform">
                        <input type="number" class="w300 text" id='commend-input' name='commend' value="0" min:0>
                        <p>
                            <small class="form-text text-muted">0-200，数字越大越靠前</small>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><input class="btn" type="submit" onclick='submitGoodForm(event)' value="提交"></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script>
function setInputVal(gid) {
    $('#goods-id-input').val(gid)
    $.get(`/mobile/api.seckillgoods?goods_id=${gid}`, function(res) {
        if (res != '') {
            // $('#number-input').val(res.qty)
            $('#price-input').val(res.price)
            $('#goods-price-input').val(res.goods_price)
            $('#return_rate-input').val(res.return_rate)
            $('#commend-input').val(res.commend)
            $('#limit-input').val(res.limit)
        }
    })
}

function submitGoodForm(e) {
    e.preventDefault()
    $.ajax({
        url: '/admin/seckill.goods/store',
        type: 'post',
        dataType: 'json',
        data: $('#modal-form').serialize(),
        success: function(res) {
            layer.close(index)
            layer.msg('添加商品成功')
            console.log(res)
            $('#selected-table').show()
                .find('tbody').append(`
                <tr>
                    <td>
                    ${res.goods_id}
                    </td>
                    <td>
                    ${res.info.goods_name}
                    </td>
                    <td class="align-center nowarp">
                    ${res.forsale_price}
                    </td>
                    <td class="align-center nowarp">
                    ${res.price}
                    </td>
                    <td class="align-center nowarp">
                    ${res.mi}
                    </td>
                    <td class="align-center">
                        ${res.limit}
                    </td>
                    <td class="align-center">
                        ${res.qty}
                    </td>
                    <td class="align-center">
                        ${res.commend}
                    </td>
                </tr>
                `)
        },
        error: function(err) {
            let json = JSON.parse(err.responseText)
            parent.layer.msg(json.error, { shade: 0.3 })
        }
    })
    return false
}
</script>