<table class="ds-default-table">
    <thead>
        <tr class="thead">
            <th class="align-center">平台货号</th>
            <th class="align-center" colspan="2">商品名</th>
            <th class="align-center">价格</th>
            <th class="align-center">库存</th>
        </tr>
    </thead>
    <tbody id="goods-table">
        {notempty name="goods"}
        {foreach name="goods" item="good"}
        <tr data-id='{$good.goods_id}' data-name='{$good.goods_name}'>
            <td>
                {$good.goods_commonid}
            </td>
            <td class="w60 picture">
                <div class="size-56x56"><span class="thumb size-56x56"><i></i><img src="{:goods_thumb($good, 240)}" onload="javascript:ResizeImage(this,56,56);" /></span></div>
            </td>
            <td class="group">
                {$good.goods_name}
            </td>
            <td class="align-center nowarp">￥{$good.goods_price}</td>
            <td class="align-center nowarp">{$good.goods_storage}</td>
        </tr>
        {/foreach}
        {else /}
        <tr class="no_data">
            <td colspan="16">没有数据</td>
        </tr>
        {/notempty}
    </tbody>
</table>
{$goods->render()}
{notempty name="goods"}
{/notempty}
<script>
let index;
$('#goods-table tr').on('click', function() {
    index = layer.open({
        type: 1,
        title: $(this).find('.group').html(),
        area: ['600px', '360px'],
        shadeClose: true, //点击遮罩关闭
        content: $('#modal-page')
    });
    setInputVal($(this).data('id'))
});
</script>