<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/dstouch_member.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"> <a href="member.html"> <i class="back iconfont"></i> </a> </div>
    <span class="header-tab"><a href="member_refund.html"><lang data-id="refunds_list"></lang></a><a href="javascript:void(0);" class="cur"><lang data-id="return_list"></lang></a></span>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more iconfont"></i><sup></sup></a> </div>
  </div>
  <div class="dstouch-nav-layout">
    <div class="dstouch-nav-menu"> <span class="arrow"></span>
      <ul>
		  <li><a href="../index.html"><i class="iconfont home"></i><lang data-id="home"></lang></a></li>
		  <li><a href="../mall/search.html"><i class="iconfont search"></i><lang data-id="search"></lang></a></li>
		  <li><a href="../mall/product_first_categroy.html"><i class="iconfont categroy"></i><lang data-id="classification"></lang></a></li>
		  <li><a href="../mall/cart_list.html"><i class="iconfont cart"></i><lang data-id="cart"></lang><sup></sup></a></li>
		  <li><a href="../member/member.html"><i class="iconfont member"></i><lang data-id="my_business_city"></lang></a></li>
      </ul>
    </div>
  </div>
</header>
<div class="dstouch-main-layout">
  <div class="dstouch-order-list">
    <ul id="return-list">
    </ul>
  </div>
</div>
<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i class="iconfont"></i></a> </div>
<footer id="footer"></footer>
<script type="text/html" id="return-list-tmpl">
<% if (return_list.length > 0){%>
	<% for(var i = 0;i<return_list.length;i++){
	%>
		<li class=" <%if(i>0){%>mt10<%}%>">
			<div class="dstouch-order-item">
				<div class="dstouch-order-item-head">
					<span class="state"><%=return_list[i].admin_state%></span>
				</div>
				<div class="dstouch-order-item-con">
					<div class="goods-block">
					<a href="<%=WapSiteUrl%>/member/member_return_info.html?refund_id=<%=return_list[i].refund_id%>">
						<div class="goods-pic">
							<img src="<%=return_list[i].goods_img_480%>"/>
						</div>
						<dl class="goods-info" style="margin-right: auto;">
							<dt class="goods-name"><%=return_list[i].goods_name%></dt>
							<dd class="goods-type"><%=return_list[i].goods_spec%></dd>
						</dl>
					</a>
					</div>
				</div>
				<div class="dstouch-order-item-footer">
					<div class="store-totle">
					<time class="refund-time"><%=return_list[i].add_time%></time>
					<span class="refund-sum"><%=lang('refund_amount')%>：<em>￥<%=return_list[i].refund_amount%></em></span>
					<br/>
					<span class="refund-sum"><%=lang('return_quantity')%>：<em><%=return_list[i].goods_num%></em><%=lang('piece')%></span>
					</div>
					<div class="handle">
						<a href="<%=WapSiteUrl%>/member/member_return_info.html?refund_id=<%=return_list[i].refund_id%>" class="btn"><%=lang('details_refunds')%></a>
						<%if(return_list[i].delay_state == 1){%>
						<a href="javascript:void(0);" return_id="<%=return_list[i].refund_id%>" class="btn delay-btn"><%=lang('delay')%></a>
						<%}%>
						<%if(return_list[i].ship_state == 1){%>
						<a href="<%=WapSiteUrl%>/member/member_return_ship.html?refund_id=<%=return_list[i].refund_id%>" class="btn key"><%=lang('return_and_delivery')%></a>
						<%}%>
					</div>
				</div>
			</div>
		</li>
	<%}%>
	<% if (hasmore) {%>
	<li class="loading"><div class="spinner"><i></i></div><%=lang('order_data_read')%></li>
	<% } %>
<%}else {%>
<div class="dstouch-norecord refund">
    <div class="norecord-ico"><i class="iconfont"></i></div>
    <dl>
        <dt><%=lang('return_goods_tips_one')%></dt>
        <dd><%=lang('return_goods_tips_two')%></dd>
    </dl>
</div>
<%}%>
</script> 
<script type="text/javascript" src="../js/zepto.min.js"></script> 
<script type="text/javascript" src="../js/template.js"></script> 
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../js/ncscroll-load.js"></script> 
<script type="text/javascript" src="js/member_return.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<script type="text/javascript" src="lang/member_return.js"></script>
<script type="text/javascript" src="../js/lang.js"></script>
</body>
</html>