<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/dstouch_member.css">
</head>
<body>
<header id="header" class="fixed">
	<div class="header-wrap">
		<div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back iconfont"></i> </a> </div>
		<div class="header-title">
			<h1><lang data-id="order_details"></lang></h1>
		</div>
		<div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more iconfont"></i><sup></sup></a> </div>
	</div>
	<div class="dstouch-nav-layout">
		<div class="dstouch-nav-menu"> <span class="arrow"></span>
			<ul>
				<li><a href="../index.html"><i class="iconfont home"></i><lang data-id="home"></lang></a></li>
				<li><a href="../mall/search.html"><i class="iconfont search"></i><lang data-id="search"></lang></a></li>
				<li><a href="../mall/product_first_categroy.html"><i class="iconfont categroy"></i><lang data-id="classification"></lang></a></li>
				<li><a href="../mall/cart_list.html"><i class="iconfont cart"></i><lang data-id="cart"></lang><sup></sup></a></li>
				<li><a href="../member/member.html"><i class="iconfont member"></i><lang data-id="my_business_city"></lang></a></li>
			</ul>
		</div>
	</div>
</header>
<div class="dstouch-main-layout mb20">
	<div class="dstouch-order-list" id="order-info-container">
		<ul>
		</ul>
	</div>
</div>
<footer id="footer"></footer>
<!-- 添加用户显示上传凭证css-->
<style>
.pay_pic{width: 2rem;height: 2rem;border: solid 0.05rem #EEE;border-radius: 0.1rem;vertical-align: top;position: absolute;overflow: hidden;top: 0.4rem;right: 0.4rem;}
.pay_pic img{width: 100%;height: 100%;}
/*<!-- 放大付款二维码css-->*/
.showBigPay{width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index: 999;background: rgba(0, 0, 0, 0.7);display: none;}
.showBigPay .shop_payPic{width: 96%;margin: 0px auto;padding: 2rem 0px;position: relative;}
.showBigPay .shop_payPic .show_close{width: 1.6rem;height: 1.6rem;display: block;line-height: 1.6rem;text-align: center;position: absolute;top: 2.2rem;right: 0.2rem;background: #828282;overflow: hidden;font-size: 1.6rem;color: #fff;border-radius: 12%;}
.showBigPay .shop_payPic img{max-width: 100%;max-height: 100%;}
</style>
<script type="text/html" id="order-info-tmpl">
	<div class="dstouch-oredr-detail-block">
		<h3><i class="orders iconfont"></i><%=lang('trading_state')%></h3>
		<div class="order-state"><%=state_desc%></div>
		<%if (order_tips != ''){%><div class="info"><%=order_tips%></div><%}%>
	</div>
	<%if(if_deliver){%>
	<div class="dstouch-oredr-detail-delivery">
		<a href="<%=WapSiteUrl%>/member/order_delivery.html?order_id=<%=order_id%>">
			<span class="time-line">
				<i></i>
			</span>
			<div class="info">
				<p id="delivery_content"></p>
				<time id="delivery_time"></time>
			</div>
			<span class="arrow-r"></span>
		</a>
	</div>
	<%}%>
	<div class="dstouch-oredr-detail-block mt5">
		<div class="dstouch-oredr-detail-add">
			<i class="icon-add iconfont"></i>
			<dl>
				<dt><%=lang('consignee')%>：<span><%=reciver_name%></span><span><%=reciver_phone%></span></dt>
				<dd><%=lang('receiving_address')%>：<%=reciver_addr%></dd>
			</dl>
		</div>
	</div>
	<%if (order_message != ''){%>
	<div class="dstouch-oredr-detail-block">
		<h3><i class="msg iconfont"></i><%=lang('buyer_message')%></h3>
		<div class="info"><%=order_message%></div>
	</div>
	<%}%>
	<%if (payment_name != ''){%>
	<div class="dstouch-oredr-detail-block" style="position: relative;">
		<h3><i class="pay iconfont"></i><%=lang('payment_method')%></h3>
		<div class="info" style=""><%=payment_name%></div>
		<%if (payment_code == 'payoffline'){%>
			<div class="pay_pic"><img src="/uploads/home/refund/<%=pay_offline_pic%>" /></div>
		<%}%>
	</div>
	<%}%>
	<div class="dstouch-order-item mt5">
		<div class="dstouch-order-item-con">
			<%for(i=0; i<goods_list.length; i++){%>
			<div class="goods-block detail">
				<a href="<%=WapSiteUrl%>/mall/product_detail.html?goods_id=<%=goods_list[i].goods_id%>">
					<div class="goods-pic">
						<img src="<%=goods_list[i].image_url%>">
					</div>
					<dl class="goods-info">
						<dt class="goods-name"><%=goods_list[i].goods_name%></dt>
						<dd class="goods-type"><%=goods_list[i].goods_spec%></dd>
					</dl>
					<div class="goods-subtotal">
						<span class="goods-price">￥<em><%=goods_list[i].goods_price%></em></span>
						<span class="goods-num">x<%=goods_list[i].goods_num%></span>
					</div>
					<% if (goods_list[i].refund == 1 && order_state ==40 ) {%>
					<a href="javascript:void(0)" order_id="<%=order_id%>" order_goods_id="<%=goods_list[i].rec_id%>" class="goods-refund"><%=lang('refund')%></a>
					<a href="javascript:void(0)" order_id="<%=order_id%>" order_goods_id="<%=goods_list[i].rec_id%>" class="goods-return"><%=lang('return_goods')%></a>
					<%}%>
				</a>
			</div>
			<%}%>
			<% if (zengpin_list.length > 0){%>
			<div class="goods-gift">
				<%for(i=0; i<zengpin_list.length; i++){%>
				<span><em><%=lang('gift')%></em><%=zengpin_list[i].goods_name%> x <%=zengpin_list[i].goods_num%></span>
				<%}%>
			</div>
			<%}%>

			<div class="goods-subtotle">
				<%if (promotion.length > 0){%>
				<dl>
					<dt><%=lang('discount')%></dt>
					<dd><%for (var ii in promotion){%><span><%=promotion[ii][1]%></span><%}%></dd>
				</dl>
				<%}%>
				<dl>
					<dt><%=lang('freight')%></dt>
					<dd>￥<em><%=shipping_fee%></em></dd>
				</dl>
				<dl class="t">
					<dt><%=lang('real_payment')%></dt>
					<dd>￥<em><%=real_pay_amount%></em></dd>
				</dl>
			</div>
		</div>
		<div class="dstouch-order-item-bottom">
			<span><a href="tel:<%=site_phone%>"><i class="tel iconfont"></i><%=lang('dialing')%></a></span>
		</div>
	</div>
	<div class="dstouch-oredr-detail-block mt5">
		<ul class="order-log">
			<li><%=lang('order_number')%>：<%=order_sn%></li>
			<li><%=lang('creation_time')%>：<%=add_time%></li>
			<% if(payment_time){%>
			<li><%=lang('time_of_payment')%>：<%=payment_time%></li>
			<%}%>
			<% if(shipping_time){%>
			<li><%=lang('delivery_time')%>：<%=shipping_time%></li>
			<%}%>
			<% if(finnshed_time){%>
			<li><%=lang('completion_time')%>：<%=finnshed_time%></li>
			<%}%>
		</ul>
	</div>
	<div class="dstouch-oredr-detail-bottom">
		<% if (if_lock) {%>
		<p><%=lang('refunds')%></p>
		<% } %>
		<% if (if_buyer_cancel && payment_code !='offline') {%>
		<a href="javascript:void(0)" order_id="<%=order_id%>" class="btn cancel-order"><%=lang('cancellation_of_order')%></a>
		<% } %>
		<% if (if_refund_cancel && payment_code !='offline'&& order_state ==40) {%>
		<a href="javascript:void(0)" order_id="<%=order_id%>" class="btn all_refund_order"><%=lang('order_refund')%></a>
		<% } %>
		<% if (if_deliver) { %>
		<a href="javascript:void(0)" order_id="<%=order_id%>" class="btn viewdelivery-order"><%=lang('look_logistics')%></a>
		<%}%>
		<% if (if_receive){ %>
		<a href="javascript:void(0)" order_id="<%=order_id%>" class="btn key sure-order"><%=lang('confirmation_receipt')%></a>
		<% } %>
		<% if (if_evaluation && refund_state==0) {%>
		<a href="javascript:void(0)" order_id="<%=order_id%>" class="btn key evaluation-order"><%=lang('evaluation_order')%></a>
		<% } %>
	</div>
</script>

<!-- 放大支付宝付款二维码Begin-->
<div class="showBigPay">
	<div class="shop_payPic">
		<span class="show_close">×</span>
		<img src="../images/xxpay_alipay.jpg"/>
	</div>
</div>
<!--放大支付宝付款二维码End-->

<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="js/order_detail.js"></script>
<script type="text/javascript" src="lang/order_detail.js"></script>
<script type="text/javascript" src="../js/lang.js"></script>
</body>
</html>